* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: Montserrat;
}

footer {
  font-family: Montserrat;
}

li {
  list-style: none;
}

.conteiner {
  max-width: 1600px;
  margin: 0 auto;
}

@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-ExtraBold.ttf");
  font-weight: 800;
}
@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: Kosugi Maru;
  src: url("../fonts/KosugiMaru-Regular.ttf");
}
.header__container {
  display: flex;
  justify-content: space-between;
}
.header__logo {
  margin-left: 114px;
  margin-top: 24px;
}

.preview {
  background: url("../img/Preview/header_bg.png") no-repeat center center/cover;
  height: 787px;
}
.preview__texts {
  color: #fff;
  font-size: 32px;
  font-weight: bold;
  display: flex;
  gap: 644px;
}
.preview__text_left {
  margin-top: 140px;
  margin-left: 8px;
}
.preview__text_left hr {
  margin-left: -8px;
}
.preview__text_right {
  margin-top: 370px;
}
.preview__text_right hr {
  margin-left: -8px;
}
.preview__tools {
  margin-top: 100px;
}
.preview__arrow {
  display: flex;
  justify-content: center;
  transition: all 0.3s ease;
}
.preview__arrow:hover {
  transform: scale(0.9);
  cursor: pointer;
}

/* BURGER */
.open {
  display: flex !important;
}

.nav {
  display: none;
  width: 700px;
  padding: 0 40px;
}

.nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.burger {
  margin-top: 53px;
  margin-right: 97px;
  display: flex;
  position: relative;
  z-index: 50;
  align-items: center;
  justify-content: flex-end;
  width: 30px;
  height: 18px;
}

.burger span {
  height: 2px;
  width: 100%;
  transform: scale(1);
  background-color: #FFC700;
}

.burger:hover {
  transform: scale(0.9);
  cursor: pointer;
}

.burger::before, .burger::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #FFC700;
  transition: all 0.3s ease 0s;
}

.burger::before {
  top: 0;
}

.burger::after {
  bottom: 0;
}

.burger.active span {
  transform: scale(0);
}

.burger.active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%);
}

.burger.active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0, 50%);
}

.burger {
  display: flex;
}

@media (max-width: 1600px) {
  .nav {
    display: none;
    flex-direction: column;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 50;
    overflow-y: auto;
    padding: 50px 40px;
    background-color: #000;
    animation: burgerAnimation 0.4s;
  }
  .title {
    color: #fff;
    font-size: 36px;
    font-weight: bold;
  }
  .nav ul {
    flex-direction: column;
    row-gap: 54px;
    font-size: 32px;
    font-weight: 500;
  }
  .nav a {
    color: #E61A1A;
    transition: all 0.3s ease;
  }
  .nav a:hover {
    color: #fff;
  }
}
@keyframes burgerAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.burger {
  position: fixed;
  right: 0;
}

.us__text {
  margin-top: 120px;
  display: flex;
  justify-content: center;
}
.us__cards {
  margin-top: -400px;
  display: flex;
}
.us__cards_left {
  display: flex;
  flex-direction: column;
  margin-right: 617px;
}
.us__delivery {
  margin-bottom: 210px;
}
.us__delivery_texts {
  margin-top: -220px;
  margin-left: 20px;
}
.us__delivery_title {
  color: #8B0000;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
.us__delivery_text {
  color: #2C1500;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
}
.us__detali {
  margin-bottom: 210px;
}
.us__detali_texts {
  margin-left: 15px;
  margin-top: -220px;
}
.us__detali_title {
  color: #8B0000;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
.us__detali_text {
  color: #2C1500;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
}
.us__cards_right {
  display: flex;
  flex-direction: column;
}
.us__service {
  margin-bottom: 155px;
}
.us__service_texts {
  margin-top: -220px;
  margin-left: 135px;
}
.us__service_title {
  color: #8B0000;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
.us__service_text {
  color: #2C1500;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
}
.us__price {
  margin-bottom: 210px;
}
.us__price_texts {
  margin-top: -220px;
  margin-left: 145px;
}
.us__price_title {
  color: #8B0000;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
.us__price_text {
  color: #2C1500;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
}

.reviews__texts {
  margin-left: -30px;
  margin-top: 110px;
}
.reviews__subtitle {
  margin-left: 228px;
  color: #5A5A5A;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 32px;
}
.reviews__title {
  margin-left: 252px;
  color: #E61A1A;
  font-family: Kosugi Maru;
  font-weight: 400;
  font-size: 50px;
  margin-bottom: 32px;
}
.reviews__text {
  margin-left: 156px;
  text-indent: 10px;
  font-size: 16px;
  font-weight: 500;
  color: #000000;
  line-height: 25px;
}
.reviews__image {
  display: flex;
  justify-content: flex-end;
  margin-top: -480px;
}

.about__wrap {
  display: flex;
  margin-top: 251px;
}
.about__texts {
  margin-top: 15px;
}
.about__subtitle {
  margin-bottom: 38px;
  margin-left: 62px;
  color: #5A5A5A;
  font-size: 20px;
  font-weight: 400;
}
.about__title {
  margin-bottom: 40px;
  margin-left: 42px;
  font-family: Kosugi Maru;
  color: #E61A1A;
  font-size: 50px;
  font-weight: 400;
}
.about__text {
  line-height: 25px;
  margin-left: 62px;
  margin-bottom: 80px;
  font-size: 16px;
  font-weight: 500;
  color: #000000;
}
.about__btn {
  margin-left: 280px;
}
.about__btn button {
  border: none;
  background-color: #FFFFFF;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}
.about__btn button:hover {
  transform: scale(0.9);
  cursor: pointer;
}
.about__btn p {
  font-size: 24px;
  font-weight: bold;
  color: #FFFFFF;
  padding: 22px 60px;
  border-radius: 40px;
  background-color: #E61A1A;
}

.footer {
  margin-top: 40px;
  background-color: #000000;
  max-width: 100%;
  height: 311px;
}
.footer a {
  text-decoration: none;
  color: #FFFFFF;
}
.footer__wrap {
  display: flex;
  justify-content: center;
}
.footer__nav {
  margin-top: 67px;
  line-height: 24px;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 500;
}
.footer__nav-title {
  margin-bottom: 32px;
  font-size: 24px;
  font-weight: 800;
  text-transform: uppercase;
}
.footer__nav-link {
  margin-bottom: 30px;
}
.footer__info {
  margin-top: 67px;
  margin-right: 300px;
  margin-left: 300px;
  line-height: 24px;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 500;
}
.footer__info-title {
  margin-bottom: 32px;
  font-size: 24px;
  font-weight: 800;
  text-transform: uppercase;
}
.footer__info_media {
  display: flex;
  gap: 58px;
}
.footer__info-link {
  margin-bottom: 30px;
}
.footer__info_m::before {
  content: "";
  display: block;
  background: url("../img/footer/mail.svg");
}
.footer__info p::before {
  content: "";
  display: block;
  background: url("../img/footer/mail.svg");
  width: 48px;
  height: 47px;
  position: absolute;
  margin-left: -55px;
  margin-top: -10px;
}
.footer__logo {
  margin-top: 67px;
}